<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Requirement already satisfied: sqlalchemy==1.3.9 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.9)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

In [5]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [6]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

**Note:This below code is added to remove blank rows from table**

In [7]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [8]:
# Establecer conexión a la base de datos
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Ejecutar la consulta SQL
query = "SELECT DISTINCT Launch_Site FROM SPACEXTABLE;"
cursor.execute(query)

# Obtener los resultados
results = cursor.fetchall()

# Imprimir los resultados
for row in results:
    print(row[0])

# Cerrar la conexión
conn.close()

CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [9]:
# Establecer conexión a la base de datos
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Ejecutar la consulta SQL con filtro
query = "SELECT * FROM SPACEXTABLE WHERE Launch_Site LIKE 'CCA%' LIMIT 5;"
cursor.execute(query)

# Obtener los resultados
results = cursor.fetchall()

# Imprimir los resultados
for row in results:
    print(row)

# Cerrar la conexión
conn.close()

('2010-04-06', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-08-12', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-08-10', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-01-03', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [10]:
# Establecer conexión a la base de datos
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Ejecutar la consulta SQL con filtro 
query = "SELECT SUM(PAYLOAD_MASS__KG_) FROM SPACEXTABLE WHERE Customer = 'NASA (CRS)';"
cursor.execute(query)

# Obtener el resultado
total_payload_mass = cursor.fetchone()[0]

# Imprimir el resultado
print("Masa total de carga útil transportada por propulsores CRS de NASA:", total_payload_mass)

# Cerrar la conexión
conn.close()

Masa total de carga útil transportada por propulsores CRS de NASA: 45596

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [11]:
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Ejecutar la consulta SQL con filtro y cálculo de promedio
query = "SELECT AVG(PAYLOAD_MASS__KG_) FROM SPACEXTABLE WHERE Booster_Version = 'F9 v1.1';"
cursor.execute(query)

# Obtener el resultado
average_payload_mass = cursor.fetchone()[0]

# Imprimir el resultado
print("Masa promedio de carga útil transportada por la versión de refuerzo F9 v1.1:", average_payload_mass)

# Cerrar la conexión
conn.close()

Masa promedio de carga útil transportada por la versión de refuerzo F9 v1.1: 2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [12]:
# Establecer conexión a la base de datos
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Ejecutar la consulta SQL para obtener la fecha del primer aterrizaje exitoso en una plataforma de tierra
query = "SELECT MIN(Date) FROM SPACEXTABLE WHERE Mission_Outcome = 'Success' AND Landing_Outcome = 'Success (ground pad)';"
cursor.execute(query)

# Obtener el resultado
first_successful_landing_date = cursor.fetchone()[0]

# Imprimir el resultado
print("Fecha del primer aterrizaje exitoso en una plataforma de tierra:", first_successful_landing_date)

# Cerrar la conexión
conn.close()

Fecha del primer aterrizaje exitoso en una plataforma de tierra: 2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [13]:
# Establecer conexión a la base de datos
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Ejecutar la consulta SQL para obtener los nombres de los propulsores exitosos
query = "SELECT DISTINCT Booster_Version FROM SPACEXTABLE WHERE Landing_Outcome = 'Success (drone ship)' AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000;"
cursor.execute(query)

# Obtener los resultados
successful_boosters = cursor.fetchall()

# Imprimir los nombres de los propulsores exitosos
print("Nombres de los propulsores exitosos:")
for booster in successful_boosters:
    print(booster[0])

# Cerrar la conexión
conn.close()

Nombres de los propulsores exitosos:
F9 FT B1022
F9 FT B1026
F9 FT  B1021.2
F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [14]:

# Establecer conexión a la base de datos
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Consulta SQL para contar el número de resultados de misión exitosos
query_success = "SELECT COUNT(*) FROM SPACEXTABLE WHERE Mission_Outcome like 'Success%' ;"
cursor.execute(query_success)
total_success = cursor.fetchone()[0]

# Consulta SQL para contar el número de resultados de misión fallidos
query_failure = "SELECT COUNT(*) FROM SPACEXTABLE WHERE Mission_Outcome like 'Failure%';"
cursor.execute(query_failure)
total_failure = cursor.fetchone()[0]

# Imprimir los resultados
print("Número total de resultados de misión exitosos:", total_success)
print("Número total de resultados de misión fallidos:", total_failure)

# Cerrar la conexión
conn.close()

Número total de resultados de misión exitosos: 100
Número total de resultados de misión fallidos: 1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [15]:
# Establecer conexión a la base de datos
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Consulta SQL con subconsulta para obtener las booster_versions con la masa máxima de carga útil
query = "SELECT DISTINCT Booster_Version FROM SPACEXTABLE WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLE);"
cursor.execute(query)

# Obtener los resultados
max_payload_boosters = cursor.fetchall()

# Imprimir los nombres de las booster_versions con la masa máxima de carga útil
print("Nombres de las booster_versions con la masa máxima de carga útil:")
for booster in max_payload_boosters:
    print(booster[0])

# Cerrar la conexión
conn.close()

Nombres de las booster_versions con la masa máxima de carga útil:
F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [28]:
# Establecer conexión a la base de datos
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Consulta SQL
query = """
    SELECT CASE
        WHEN substr(Date, 6, 2) = '01' THEN 'Enero'
        WHEN substr(Date, 6, 2) = '02' THEN 'Febrero'
        WHEN substr(Date, 6, 2) = '03' THEN 'Marzo'
        WHEN substr(Date, 6, 2) = '04' THEN 'Abril'
        WHEN substr(Date, 6, 2) = '05' THEN 'Mayo'
        WHEN substr(Date, 6, 2) = '06' THEN 'Junio'
        WHEN substr(Date, 6, 2) = '07' THEN 'Julio'
        WHEN substr(Date, 6, 2) = '08' THEN 'Agosto'
        WHEN substr(Date, 6, 2) = '09' THEN 'Septiembre'
        WHEN substr(Date, 6, 2) = '10' THEN 'Octubre'
        WHEN substr(Date, 6, 2) = '11' THEN 'Noviembre'
        WHEN substr(Date, 6, 2) = '12' THEN 'Diciembre'
    END AS Mes,
    Landing_Outcome,
    Booster_Version,
    Launch_Site
    FROM SPACEXTABLE
    WHERE substr(Date,1,4)='2015'
    AND Landing_Outcome = 'Failure (drone ship)';
"""

    # Ejecutar la consulta SQL
cursor.execute(query)
    
# Obtener los resultados
results = cursor.fetchall()
print(results)
# Imprimir los resultados
for row in results:
    print("Mes:", row[0])
    print("Landing Outcome:", row[1])
    print("Booster Version:", row[2])
    print("Launch Site:", row[3])
    print()

# Cerrar la conexión
conn.close()

[('Octubre', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'), ('Abril', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]
Mes: Octubre
Landing Outcome: Failure (drone ship)
Booster Version: F9 v1.1 B1012
Launch Site: CCAFS LC-40

Mes: Abril
Landing Outcome: Failure (drone ship)
Booster Version: F9 v1.1 B1015
Launch Site: CCAFS LC-40

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [31]:
# Establecer conexión a la base de datos
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Consulta SQL
query = """
    SELECT Landing_Outcome, COUNT(*) AS Count
    FROM SPACEXTABLE
    WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
      AND (Landing_Outcome = 'Failure (drone ship)' OR Landing_Outcome = 'Success (ground pad)')
    GROUP BY Landing_Outcome
    ORDER BY Count DESC;
"""
# Ejecutar la consulta SQL
cursor.execute(query)

# Obtener los resultados
results = cursor.fetchall()

# Imprimir los resultados
for row in results:
    print("Landing Outcome:", row[0])
    print("Count:", row[1])
    print()

# Cerrar la conexión
conn.close()

Landing Outcome: Success (ground pad)
Count: 5

Landing Outcome: Failure (drone ship)
Count: 5

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>